.video-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 40px;
    column-gap: 16px;

    /* Inheritance */ 
    text-decoration:underline; /*All text in the grids become underlined*/
}

@media(max-width:750px) {
    .video-grid{
        grid-template-columns: 1fr 1fr;
    }
}
@media(min-width:751px) and (max-width :999px) {
    .video-grid{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media(min-width:1000px){
    .video-grid{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}


/* .main-frame{ */
    /* width:300px;
    display: inline-block;
    vertical-align: top;
    margin-right: 15px; */
/* } */
.video-preview {
    display: block;
    position:relative;
}
.time {
    position:absolute;
    background-color: black;
    color: white;
    bottom:10px;
    right:5px;

    font-family:Roboto, Arial;
    font-size:14px;
    font-weight:500;
    padding:4px;
    border-radius:2px;
}
.main-image{
    width:100%;
    
}


.prof-details{
    display:grid;
    grid-template-columns: 50px 1fr;
    /* background-color: grey; */
}
.profile{
    width:50px;
    display:inline-block;
    vertical-align:top;
}
.profile-pic {
    width:100%;
    border-radius: 50px;
}
.details{
    width:200px;
    display: inline-block;
}
.title{
    margin-bottom: 12px;
    color: rgb(96,96,96);
    font-weight: 500;
    font-size: 14px;
}
.author{
    margin-bottom:6px;
    color: rgb(96,96,96);
    font-size: 12px;
}
.views {
    color: rgb(96,96,96);
    font-size: 12px;
}