.sidebar {
    position:fixed;
    left:0;
    top:57.5px;
    bottom:0;
    width: 80px;
}
.sidebar-icon{
    height:74px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 4px;
    z-index:200;
    cursor:pointer;
    padding-top:2px;

}
.sidebar-icon:hover{
    background-color: rgb(221, 221, 221);
}
.sidebar-icon img{
    height: 24px;
    display: block;
}
/* .sidebar-icon-text{
This is same as .sidebar-icon div
} */
.sidebar-icon div{
    font-size: 10px;
    display:block;
    font-family: Roboto, Arial;
}
